.image{
    width:840px;
    height: 615px;
}
.block{
    width: 900px;
}
@media (max-width: 1200px) {
    .image{
        height: 45vw;

        max-width: 100%;
    }
    .block{
        max-width: 650px;
        height: 100%;
        width: 63vw;
    }
}