.image{
    width:840px;
    height: 615px;
}
.block{
    width: 900px;
}
@media (max-width: 1200px) {
    .image{
        width: 100%;
        height: unset;
    }
    .block{
        max-width: 650px;
        height: 480px;
    }
}