.container{
    position: fixed;
    left: -18px;
    top: -18px;
    width: 103%;
    z-index: 10;
    animation: animMenu .3s 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 103%;
    background: url("./images/background.png") no-repeat center center ;
    background-size: cover;
}
.menu{
    text-decoration: none;
    position: absolute;
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 86px;
    text-align: center;
    color: white;
}
.anchor{
    text-decoration: none;
    color: white;
    transition: all .2s;
    cursor: pointer;
}
.anchor:hover{
    opacity: .9;
    color:rgb(200, 184, 169);
}
.background{
    width: 104%;
    height: 104%;
    object-fit: cover;
    object-position: center;
}
.close{
    position: absolute;
    width: 80px;
    right: 50px;
    top: 30px;
    cursor: pointer;
    transition: all .2s;
}
.close:hover{
    transform: scale(1.1);
}

.icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    left: 140px;
    bottom: 5vh;
}
.icon{
    margin-bottom: 10px;
    width: 52px;
    cursor: pointer;
    transition: all .3s;
}
.icon:hover{
    transform: scale(1.1);
}
.logo{
    position: absolute;
    top: -50px;
    left: -85px;
    width: 500px;
}
@media (max-width: 1350px) {
    .container{
        left: 0;
        top: 0;
    }
    .logo{
        width: 400px;
        top: -30px;
        left: -60px;
    }
    .icons{
        left: 110px;
    }
    .close{
        right: 50px;
    }
}
@media (max-width: 1200px) {
    .logo{
        width: 370px;
        top: -30px;
        left: -8vh;
    }
    .menu{
        font-size: 7vw;
        line-height: 9vw;
    }
    .icons{
        left: 7vw;
    }
    .close{
        right: 40px;
    }
}
@media (max-width: 550px) {
    .container{
        width: 106vw;
    }
    .logo{
        width: 300px;
        top: -50px;
        left: -80px;
    }
    .menu{
        font-size: 11vw;
        line-height: 13vw;
    }
    .icons{
        left: 7vw;
        bottom: 4vh;
    }
    .icon{
        width: 45px;
    }
    .close{
        width: 50px;
        right: 28px;
        top:15px;
    }
}
@keyframes animMenu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}