.animateText{
    position: absolute;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-family: 'Monoton';
    font-size: 220px;
    line-height: 342px;
    color: white;
    width: 100vh;
    height: 100%;
    padding-left: 25px;
    background-color: #222222;
}
@media (max-width: 1200px) {
    .animateText{
        transform: none;
        width: 100%;
        height: 200px;
        position: unset;
        padding-left: 0;
        line-height: 180px;
        font-size: 170px;
    }
    .animateText div{
        overflow-y: hidden;
    }
}