.container{
    background-image: url('./images/bricks.jpg');
    display: flex;
    min-width: 340vh;
    align-items: center;
}
.pistolImage{
    margin-left: 3%;
    width: 500px;
}
.newspaperImage{
    height: 100%;
}
.newspaper{
    display: flex;
    margin-left: 6%;
    height: 85%;
    min-width: 616px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.board{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}
.phase1{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    transform: rotate(5.65deg);
    position: absolute;
    top: 20vh;
    left: 23vh;
    display: flex;
    min-width: 30vh;
    max-width: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phase1Header{
    font-weight: 700;
    font-size:2.2vh;
    line-height: 2vh;
    margin-bottom: 1vh;
}
.phase1Text{
    font-size: 1.6vh;
}
.phase4Text{
    font-size: 1.3vh;
    line-height: 1.6vh;
}
.boardImage{
    position: absolute;
    height: 100%;
}
.threadsImage{
    position: absolute;
    height: 100%;
    z-index: 1;
}
.roadmap{
    position: relative;
    height: 98%;
    width: 100%;
    margin-left: 5%;
    margin-right: 2%;
}
.newspaperHeader{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6.8vh;
    line-height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 8vh;
}
.bottomtext{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 4vh;
    margin-bottom: 1vw;
    width: 520px;
}
.newspaperText{
    position: absolute;
    max-width: 546px;
    width: 60vh;
    display: flex;
    flex-direction: column;
}
.toptext{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 4vh;
    text-align: justify;
    margin-bottom: 15px;
}

.phase2{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    transform: rotate(-2.61deg);
    position: absolute;
    top: 29.5vh;
    left:83vh;
    display: flex;
    min-width: 25vh;
    max-width: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phase3{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    position: absolute;
    top: 64vh;
    left:50vh;
    display: flex;
    min-width: 40vh;
    max-width: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 2vh;
}
.phase4{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    position: absolute;
    top: 64vh;
    left:108vh;
    display: flex;
    min-width: 33vh;
    max-width: 33vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transform: rotate(4.51deg);
}
/*@media (max-height: 900px) {*/
/*    .container{*/
/*    }*/
/*    .pistolImage{*/
/*        width: 400px;*/
/*    }*/
/*    .newspaperText{*/
/*        max-width: 450px;*/
/*    }*/
/*    .bottomtext{*/
/*        font-size: 25px;*/
/*        line-height: 30px;*/
/*    }*/
/*    .toptext{*/
/*        font-size: 25px;*/
/*        line-height: 30px;*/
/*    }*/
/*    .newspaperHeader{*/
/*        font-size: 47px;*/
/*    }*/
/*}*/
/*@media (max-height: 720px) {*/
/*    .pistolImage{*/
/*        width: 350px;*/
/*    }*/
/*    .newspaperText{*/
/*        max-width: 370px;*/
/*    }*/
/*    .bottomtext{*/
/*        font-size: 20px;*/
/*        line-height: 30px;*/
/*    }*/
/*    .toptext{*/
/*        font-size: 20px;*/
/*        line-height: 30px;*/
/*    }*/
/*    .newspaperHeader{*/
/*        font-size: 40px;*/
/*        margin-bottom: 20px;*/
/*        margin-top: 70px;*/
/*    }*/
/*}*/
@media (max-width: 1200px) {
    .container{
        display: none;
    }
}