.container{
    width: 180vw;
    background-image: url('./images/bricks.png');
    display: flex;
    align-items: center;
}
.pistolImage{
    width: 20%;
    height: 43%;
    margin-left: 5%;
}
.newspaperImage{
    width: 22%;
    height: 78%;
    margin-left: 9%;
}
.roadmapImage{
    height: 100%;
    margin-left: 8%;
    margin-right: 2%;
}