.container{
    width: 100%;
    cursor: default;
    opacity: 1;
    height: 100vh;
    margin-left: auto;
    animation: openCardAnimation 1s 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: no-repeat right 50% bottom 50%;

    /* удалить если нужно чтобы наезжало */
    /*background-size: 100%;*/
}
.header{
    display: flex;
    white-space: nowrap;
    align-items: center;
    color: white;
    font-family: 'New Rocker', 'normal';
    font-weight: 400;
    font-size: 80px;
    opacity: 1;
    padding-top: 50px;
    transition: all 1s;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    margin-right: 20px;
}
.button{
    margin-top: 40px;
    width: 200px;
    height: 47px;
    color: rgba(255, 255, 255, 0.474);
    border: 2px solid rgba(255, 255, 255, 0.474);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montagu Slab';
    cursor: pointer;
}
.button:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    color:rgba(255, 255, 255, 0.6);
}
.block{
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation: textAnimation 1s 1;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    z-index: 1;
}
.description{
    display: flex;
    max-width: 463px;
    width: 463px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.693);
}
@keyframes textAnimation {
    0%{
        width: 0;
    }
    100%{
        width: 463px;
    }   
}
@keyframes openCardAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}
@keyframes closeCardAnimation {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }   
}