.container{
    background-color: #222222;
    width:100vw;
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}
.vendettacityImage{
    margin-top: -1000px;
    transition: margin-top 15s;
    /* animation: vendettacityImage 10s 100; */
}
.vendettacityImage.active{
    margin-top: 10px;
}
.block_characters{
    position: absolute;
    left: 23%;
    top: 5%;
}
.animateBlock{
    position: absolute;
    left: -17%;
}