.container{
    background-color: #222222;
    width:95vw;
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    min-width: 1480px;
    align-items: center;
}
.vendettacityImage{
    margin-top: -1000px;
    transition: margin-top 15s;
    /* animation: vendettacityImage 10s 100; */
}
.vendettacityImage.active{
    margin-top: 10px;
}
.block_characters{
    margin-left: 23%;
    display: flex;
    max-width: 1000px;
}
.animateBlock{
    height: 100vh;
    width: 50px;
    background-color: #222222;
    position: relative;
}