.container{
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.button_block{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.block{
    display: flex;
}
.header{
    color: white;
    font-family: 'New Rocker', 'normal';
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 20px;
}
.text{
    font-family: 'Montserrat';
    font-size: 32px;
    margin-top: 20px;
}
@media (max-width: 1700px) {
    .container{
        transform: scale(.9);
    }
}
@media (max-width: 1550px) {
    .container{
        transform: scale(.8);
    }
}