.wrapper{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    width: max-content;
    background-color: #222222;
}
.vendettacityImage{
    margin-top: -1000px;
    transition: margin-top 5s;
    /* animation: vendettacityImage 10s 100; */
}
.vendettacityImage .active{
    margin-top: 1000px;
}
.animateBlock{
    height: 100vh;
    width: 300px;
    background-color: #222222;
    position: relative;
}
.header{
    height: 65px;
    width: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background:rgba(147, 145, 145, 0.58);
    font-family: 'New Rocker';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color:white;
    z-index: 3;
}
@media (max-width: 1200px) {
    .wrapper{
        width: 100vw;
        overflow-x: hidden;
        overflow-y:unset;
        flex-direction: column;
        padding-top: 65px;
    }
    .header{
        display: flex;
        padding-left: 50px;
        align-items: center;
    }
    .animateBlock{
        width: 100vw;
        height: 200px;
    }
}
/* .animateBlock{
    position: absolute;
    background-color: #222222;
    left: -17%;
} */
/* 
@keyframes vendettacityImage {
    0%{
        margin-top: -1000px;
    }    
} */
