.wrapper{
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    display: flex;
    width: 460vw;
}
.vendettacityImage{
    margin-top: -1000px;
    transition: margin-top 5s;
    /* animation: vendettacityImage 10s 100; */
}
.vendettacityImage .active{
    margin-top: 1000px;
}
/* 
@keyframes vendettacityImage {
    0%{
        margin-top: -1000px;
    }    
} */
