.wrapper{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    width: max-content;
    background-color: #222222;
    position: relative;
}
.loaderWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #663100;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
img.rot {
    animation: 2s linear 0s normal none infinite running rot;
    -webkit-animation: 2s linear 0s normal none infinite running rot;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.vendettacityImage{
    margin-top: -1000px;
    transition: margin-top 5s;
}
.vendettacityImage .active{
    margin-top: 1000px;
}
.animateBlock{
    height: 100vh;
    width: 300px;
    background-color: #222222;
    position: relative;
}
.header{
    height: 65px;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background:rgba(147, 145, 145, 0.58);
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 59px;
    color:white;
    z-index: 3;
}
.headerText{
    margin-left: 10px;
}
@media (max-width: 1200px) {
    .wrapper{
        width: 100vw;
        overflow-x: hidden;
        overflow-y:unset;
        flex-direction: column;
    }
    .header{
        display: flex;
        align-items: center;
    }
    .animateBlock{
        width: 100vw;
        height: 200px;
    }
    .burgerImage{
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
        transition: .3s;
        z-index: 3;
        width: 43px;
    }
    .burgerImage:hover{
        transform: scale(1.1);
    }
}
@media (max-width: 800px) {
    .header{
        font-size: 6vw;
    }
}
@media (max-width: 500px) {
    .header{
        font-size: 8vw;
    }
}
