.block{
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin: 0 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.openCard{
    flex: 6;
    display: flex;
    animation: openCardAnimation 1s 1;
    justify-content: flex-start;
}
.closeCard{
    flex: 1;
    display: flex;
    animation: closeCardAnimation 1s 1;
    object-fit: cover;
    object-position: center;
    justify-content: flex-end;
}
.image{
    animation: imageOpacityAnimation 1s 1;
    border-radius: 10px;
    opacity: 1;
    height: 100%;
}
.block:hover .image{
    opacity: .9;
}
.block.active{
    cursor: default;
    width: 500px;
}
.block.active .image{
    opacity:0;
}
.text{
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
}
.imageText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
}
@keyframes openCardAnimation {
    0%{
        flex: 1;
    }
    100%{
        flex:6;
    }   
}
@keyframes closeCardAnimation {
    0%{
        flex: 6;
    }
    100%{
        flex: 1;
    }   
}
@keyframes imageOpacityAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}