.block{
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    margin: 0 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 2s ease-in-out;
}
.openCard{
    width: 1258px;
}
.image{
    transition: all .1s ease-in-out;
    border-radius: 10px;
    height: 99%;
}
.block:hover .image{
    opacity: .9;
}
.block.active{
    cursor: default;
    width: 500px;
}
.block.active .image{
    opacity:0;
}
.text{
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
}