.container{
    background-color: #222222;
    background-image: url('./images/background.png');
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    min-width: 1480px;
}
.header{
    color: white;
    font-family: 'New Rocker', 'normal';
    font-weight: 400;
    font-size: 80px;
}
.block{
    display: flex;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.infoBlock{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.description{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 34px;
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 10px;
}
.headerCarousel{
    color: white;
    font-family: 'New Rocker';
    font-weight: 400;
    font-size: 48px;
    width: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.carousel{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    max-width: 560px;
}
.arrow{
    height: 48px;
    margin: 0 15px;
}
.arrow:hover{
    opacity: .3;
}
.bonus{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
}
@media (max-width: 1200px){
    .container{
        min-width: unset;
        height: 650px;
    }
    .header{
        font-size: 60px;
    }
    .carousel{
        margin-right: 0;
        margin-left: 5%;
        max-width: 40vw;
    }
    .block{
        max-width: unset;
        width: 100%;
        height: 550px;
        justify-content: unset;
        align-items: center;
    }
    .headerCarousel{
        font-size: 30px;
        text-align: center;
    }
    .description{
        font-size: 18px;
        line-height: 25px;
    }
    .bonus{
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width: 850px){
    .headerCarousel{
        font-size: 18px;
        text-align: center;
    }
    .description{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: unset;
    }
    .bonus{
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 750px){
    .container{
        min-width: unset;
        height: 470px;
    }
    .block{
        max-width: unset;
        width: 100%;
        height: 370px;
        justify-content: unset;
        align-items: center;
    }
    .header{
        font-size: 50px;
    }
}