.container{
    width: 100vw;
    display: flex;
    background-color: #222222;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gta10{
    width: 900px;
    position: relative;
}
.whitepaper{
    width: 100%;
}
.header{
    color: white;
    font-family: 'New Rocker', 'normal', sans-serif;
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 3%;
}
.button{
    width: 10%;
    height: 60px;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all .1s;
    margin-top: 2%;
    min-width: 100px;
}
.icons{
    display: flex;
    margin-top: 4%;
}
.icon{
    margin-right: 10px;
    width: 52px;
    cursor: pointer;
    transition: all .3s;
}
.icon:hover{
    transform: scale(1.1);
}
.button:hover{
    border-color: rgb(189, 189, 189);
    color:rgb(189, 189, 189);
}
.rights{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.imprint{
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s;
}
.imprint:hover{
    opacity: .8;
}
.imprintWindow{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width:100%;
    height: 100%;
    left: 0;
    background:rgba(53, 52, 52, 0.75);
    top: 0;
    animation: animImprint .2s 1;
}
@keyframes animImprint {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.headerImprint{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    position: absolute;
    top: 40px;
}
.textAbout{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.closeButton{
    width: 37px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
.closeButton:hover{
    transform: scale(1.1);
}
@media (max-width: 1550px) {
    .gta10{
        width: 700px;
    }
    .icons{
        margin-top: 2%;
    }
    .header{
        margin-bottom: 2%;
    }
    .icon{
        margin-right: 7px;
        width: 40px;
    }
    .rights{
        font-size: 15px;
    }
    .headerImprint{
        top: 20px;
        font-size: 38px;
    }
    .textAbout{
        font-size: 20px;
        margin-bottom: 15px;
    }
}
@media (max-width: 1200px) {
    .container{
        display: flex;
    }
    .gta10{
        width: 80%;
    }
    .button{
        height: 40px;
        font-size: 15px;
    }
    .header{
        font-size: 9vw;
    }
    .headerImprint{
        font-size: 5vw;
        top: 0;
    }
    .textAbout{
        font-size: 2.8vw;
        margin-bottom: 0;
        line-height: 3.3vw;
    }
    .closeButton{
        width: 7vw;
    }
    .rights{
        margin-bottom: 30px;
    }
}