body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #222222;
}
body a{
  text-decoration: unset;
  color: unset;
}
@media (max-width: 1200px){
  body{
    overflow-y: unset;
    overflow-x: hidden;
    background-color: #222222;
  }
}