.container{
    width: 100vw;
    margin-top: 30px;
}
.pistolImage{
    width: 90%;
}
.newspaper{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newspaperImage{
    width: 100%;
}
.board{
    width: 100%;
}
.newspaperHeader{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
    margin-top: 11vw;
}
.bottomtext{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2.5vw;
    margin-bottom: 1vw;
    width: 35vw;
}
.newspaperText{
    position: absolute;
    width: 93%;
    top:0;
}
.toptext{
    font-family: 'New Rocker', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2.5vw;
    text-align: justify;
    margin-bottom: 1vw;
}
.roadmap{
    position: relative;
}
.phase1Text{
    font-size: 1.8vw;
}
.phase4Text{
    font-size: 1.7vw;
    line-height: 1.8vw;
}
.phase1Header{
    font-weight: 700;
    font-size:2.6vw;
    line-height: 2vw;
    margin-bottom: 2vw;
}
.phase1{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    transform: rotate(5.33deg);
    position: absolute;
    top: 22vw;
    left:14vw;
    display: flex;
    min-width: 33vw;
    max-width: 33vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phase2{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    transform: rotate(-2.61deg);
    position: absolute;
    top: 65vw;
    left:56vw;
    display: flex;
    min-width: 29vw;
    max-width: 29vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phase3{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    position: absolute;
    top: 102vw;
    left:18vw;
    display: flex;
    min-width: 48vw;
    max-width: 48vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phase4{
    font-family: 'Kalam', sans-serif;
    font-style: normal;
    color: #000000;
    transform: rotate(4.51deg);
    position: absolute;
    top: 135vw;
    left:50vw;
    display: flex;
    min-width: 39vw;
    max-width: 39vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1201px) {
    .container{
        display: none;
    }
}